
// Import Bootstrap's variables and mixins
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// Customize Bootstrap variables here if needed
$body-bg: #f8f9fa;
$navbar-brand-font-size: 1.125rem;

// Import Bootstrap's main SCSS file
@import 'bootstrap/scss/bootstrap';

body {
  overflow: hidden;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand-logo {
  display: block;
  height: 4rem;
  width: auto;
  max-width: 21rem;
}